.git
.github
.pytest_cache
.vscode
.codex
.agents
__pycache__
*.pyc
*.pyo
*.pyd
*.db

arcd
argocd
docs
k8s
metadata
minio
mlflow
notebooks
references
reports
scripts
tests

.venv
src.egg-info
requirements-dev.txt
test_environment.py
tox.ini
