# local package
-e .

# core ML
click
python-dotenv>=0.5.1
pandas
numpy
nltk
scikit-learn
imbalanced-learn
xgboost
lightgbm
joblib
pyyaml
matplotlib
mlflow==2.*
boto3
dvc[s3]

# serving
fastapi
uvicorn
pydantic
prometheus-client

# development and documentation
Sphinx
coverage
flake8
